body {
  font-family: "Public Sans Web", sans-serif;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/955/69/70/minimalism-space-stars-wallpaper-preview.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: hidden;
}

.MuiImageList-root {
  margin: 0;
}

.MuiImageList-root.explorer-options-list {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.MuiImageListItemBar-subtitle.explorer-options-subtitle {
  white-space: normal
}

.explorer-options-img {
  width: 50vw!important;
}

.MuiButtonBase-root.explorer-options-button-icon {
  color: gray;
}

li:hover .MuiButtonBase-root.explorer-options-button-icon {
  color: whitesmoke;
  cursor: pointer;
  transition: 0.3s ease-in;
}

/* mobile devices */
@media (max-width: 767px) {
  .MuiImageList-root.explorer-options-list {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .explorer-options-img {
    width: 100%!important;
  }
}