body {
  font-family: "Public Sans Web", sans-serif;
  overflow-y: hidden;
}

.space-background {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/955/69/70/minimalism-space-stars-wallpaper-preview.jpg")!important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.MuiImageList-root {
  margin: 0;
  overflow-x: hidden;
}

.MuiImageList-root.explorer-options-list {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.MuiImageListItemBar-subtitle.explorer-options-subtitle {
  white-space: normal
}

.explorer-options-img {
  width: 50vw!important;
}

.MuiButtonBase-root.explorer-options-button-icon {
  color: gray;
}

li:hover .MuiButtonBase-root.explorer-options-button-icon {
  color: whitesmoke;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}

#explorer-navigate-back:hover {
  color: whitesmoke;
  transition: 0.6s ease-in-out;
}

.nasa-exploration-options {
    display: flex;
    height: 100vh;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}

.explorer-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.explorer-search {
  background: "rgb(0 105 220 / 87%)"; 
  padding: 8px; 
  width: fit-content;
  margin-left: auto; 
  margin-right: auto; 
  border-radius: 5px;
}

/* mobile devices */
@media (max-width: 767px) {
  .MuiImageList-root.explorer-options-list {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .explorer-options-img {
    width: 100%!important;
  }
}